body {
  font-family: 'Oregano', cursive;
}

.states {
  fill: #7D7D7D;
  stroke: #fff;
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

path:hover {
  fill: #015ac3;
}

.tour {
  margin-left: 970px;
  margin-top: 15px;
  background-color:#015ac3;
  -moz-border-radius:28px;
  -webkit-border-radius:28px;
  border-radius:28px;
  border:1px solid black;
  cursor:pointer;
  color:#ffffff;
  font-family: 'Oregano', cursive;
  font-size:17px;
  padding:16px 31px;
  text-decoration:none;
  text-shadow:1px 1px black;
  box-shadow: 1px 1px 1px 1px gray,
             -1px -1px 1px 1px gray;
}

.play {
  fill: #000;
}
.container {
  width: 1200px;
  height: 600px;
}
img {
  height:250px;
  width:200px;
  position: absolute;
  margin-top: -575px;
  margin-left: 935px;
}
.stops {
  text-align: center;
  margin-left:900px;
  margin-top:-300px;
  padding: 10px;
  width: 250px;
  height: 200px;
  background-color: #015ac3;
  opacity: 0.9;
  color: white;
  text-shadow: 1px 1px black;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px gray,
             -1px -1px 1px 1px gray;
}

.links {
  display: none;
  width: 500px;
  background-color: #015ac3;
  margin-left: 250px;
  margin-top: -85px;
  padding: 7px;
  opacity: 0.9;
  color: white;
  text-shadow: 1px 1px black;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px gray,
             -1px -1px 1px 1px gray;
}
 a {
  display: inline-block;
  padding: 5px;
  text-decoration:none; 
  color: white;
  -webkit-transition: color .5s ease-in-out;
  -moz-transition: color .5s ease-in-out;
  transition: color .5s ease-in-out;
}


 a:hover{
  color: gray;
}

.tour:hover {
  color: white;
  opacity: 0.8;
}

.tour:active {
  box-shadow: 0px 0px 0px 0px gray inset,
              0px 0px 0px 1px gray inset;
}

.tipsy { 
  font-size: 16px; 
  position: absolute; 
  padding: 10px; 
  z-index: 100000; 
}
  
  .tipsy-inner { 
    background-color: #015ac3;
    color: white; 
    max-width: 300px; 
    padding: 5px 8px 4px 8px; 
    text-shadow: 1px 1px black;
    text-align: center; 
    border: 1px solid black;
  }

  /* Rounded corners */
  .tipsy-inner { 
    border-radius: 3px; 
    -moz-border-radius: 3px; 
    -webkit-border-radius: 3px; 
  }
  
  /* Uncomment for shadow */
  .tipsy-inner { 
    box-shadow: 0 0 5px #000000; 
    -webkit-box-shadow: 0 0 5px #000000; 
    -moz-box-shadow: 0 0 5px #000000; 
  }
  
  .tipsy-arrow { 
    position: absolute; 
    width: 0; 
    height: 0; 
    line-height: 0; 
    border: 8px dashed #000; 
  }
  
  /* Rules to colour arrows */
  .tipsy-arrow-n { border-bottom-color: #000; }
  .tipsy-arrow-s { border-top-color: #000; }
  .tipsy-arrow-e { border-left-color: #000; }
  .tipsy-arrow-w { border-right-color: #000; }
  
  .tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
    .tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
    .tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
  .tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
  .tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
  .tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }
